<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QLSPCNConnectionString" connectionString="Data Source=THAHU;Initial Catalog=QLSPCN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        
    </connectionStrings>
</configuration>